<footer class="foot-container">
    <div class="top">
        <div class="internal-top">
            <div class="imagenfoot1">
                <img src="../../static/images/YJn-1NE1_400x400.jpg" alt="">
            </div>
            <ul>
                <li><a class="encabezado" href="#">Media center</a></li>
                <li><a href="">Noticias</a></li>
                <li><a href="">Fotos</a></li>
                <li><a href="">Videos</a></li>
            </ul>
            <ul>
                <li><a class="encabezado" href="">Edición 2023</a></li>
                <li><a href="">Recorrido</a></li>
                <li><a href="">Equipos</a></li>
                <li><a href="">Subidas de la vuelta</a></li>
                <li><a href="">Conviertete en municipio de la etapa</a></li>


            </ul>
            <ul>
                <li><a class="encabezado" href="">Historia</a></li>
                <li><a href="">Simbolos</a></li>
                <li><a href="">Salón de la fama</a></li>
                <li><a href="">Edicion 2022</a></li>
                <li><a href="">Ediciones anteriores</a></li>
              
            </ul>
            <ul>
                <li><a class="encabezado" href="">Ven a la vuelta</a></li>
                <li><a href="">Programación</a></li>
                <li><a href="">Libro de ruta</a></li>
             
            </ul>
            <div class="imagenfoot2">
               <img src="../../static/images/fcc.png" alt="">
            </div>
        </div>
    </div>
    <div class="external-line">
        <div class="linea-horizontal"></div>
        <div class="footer-inter">
            <img src="../../static/images/logofccsolo.png" alt="">
        </div>
    </div>
   
    <div class="external-bottom">
        <div class="bottom">
            <h1>© All rights reserved. Made by Camilo Duarte</h1>
        </div>
    </div>
</footer>