<div class="containerr">
    <div class="external-negro">
        <div class="internal-cont" id="negro">
            <ul class="left-negro">
                <li><a href="/prueba"> Otros eventos</a></li>
                <li><a href=""> Medios</a></li>
                <li><a href=""> Acreditaciones </a></li>
            </ul>
            <ul class="left-negro-1">
                <li> <a href="#" class="fa-brands fa-facebook-f"></a></li>
                <li> <a href="#" class="fa-brands fa-twitter"></a></li>
                <li> <a href="#" class="fa-brands fa-instagram"></a></li>
            </ul>
            <ul class="left-negro-2">
                <li> <a href="#" class="fa-solid fa-magnifying-glass"></a></li>
                <li><a href=""> Tienda</a></li>
                <li><a href=""> Idioma</a></li>
            </ul>
        </div>
    </div>
    <div class="external-vinotinto">
        <div class="internal-cont" id="vinotinto">
            <div class="subcontainer">
                <ul class="left-vinotinto">
                    <li><a href="">Equipos</a></li>
                    <li><a href="">Ruta</a></li>
                    <li><a href="">Clasificaciones</a></li>
                    <li><a href="">Acerca de la vuelta</a></li>
                </ul>
            </div>
            <div class="subcontainer1">
                <div class="cont-img">
                    <img class="liga" src="../../static/images/imagen.png" alt="">
                    <span>03/06 - 12/07</span>
                </div>
            </div>
            <div class="subcontainer2">
                <ul class="left-vinotinto">
                    <li><a href="">Patrimonio</a></li>
                    <li><a href="">Compromiso</a></li>
                    <li><a href="">Fotos & Videos</a></li>
                    <li><a href="">Patrocinadores</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="internal-cont" id="amarillo">

    </div>
</div>